<div class="container my-4" style="float: right;">
  <div class="row">
    <ng-container *ngFor="let product of products; let i = index">
      <div class="col-4 my-3">
        <div *ngIf="product.title" class="card" my-2>
          <img *ngIf="product.imageUrl" class="card-img-top" style="height: 250px" src="{{ product.imageUrl }}"
            alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.price | currency:'EUR':'symbol'}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-secondary">Add to Cart</button>
            <ng-template #updateQuantity>
              <!-- <product-quantity [product]="product" [shopping-cart]="shoppingCart"> -->
              <!-- </product-quantity> -->
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
