<div class="row">
  <div class="colDiv col-sm-1 col-md-2 col-lg-3 my-3">
    <div class="sticky-top mt-2 ml-3">
      <div class="list-group">
        <a *ngFor="let category of categories" class="list-group-item list-group-item-action"
          (click)="filterByCategory(category)" [class.active]="category === current_categ"
          [ngStyle]="{'color': category === current_categ ? 'white' : '#4285F4'}">{{category}}
        </a>
      </div>
      <input class="form-control mt-4" type="text" placeholder="Search for a product" aria-label="Search"
        (input)="filterProducts($event.target.value)">
    </div>
  </div>
  <div class="col">
    <div class="row mr-1">
      <ng-container *ngFor="let product of products | async; index as i">
        <div class="colDiv col-sm-6 col-md-4 col-lg-3 my-3">
          <div *ngIf="product.name" class="card" my-2>
            <img *ngIf="product.imgUrl" class="card-img-top" style="height: 250px" src="{{ product.imgUrl }}"
              alt="{{ product.name }}">
            <div class="card-body">
              <h4 class="card-title title">{{product.name}}</h4>
              <a (click)="toggleHeart(product.id)">
                <mdb-icon *ngIf="!product.favorited || !currentUser; else fullHeart" class="icon"
                  style="float: right; color: red" far icon="heart fa-3x"></mdb-icon>
                <ng-template #fullHeart>
                  <mdb-icon class="icon" style="float: right; color: red" fas icon="heart fa-3x"></mdb-icon>
                </ng-template>
              </a>
              <h6>{{product.supermarket}}</h6>
              <p class="card-text">{{product.price | currency:'EUR':'symbol'}}</p>
            </div>
            <div class="card-footer">
              <button (click)="addToCart(product)" class="btn btn-block btn-secondary">Add to Cart</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
