<form class="text-center border border-light p-5" action="#!" id="form">

  <p class="h4 mb-4">Register</p>

  <div class="form-row mb-4">
    <div class="col">
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
    </div>
  </div>

  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

  <input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock">

  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
    aria-describedby="defaultRegisterFormPhoneHelpBlock">

  <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

</form>
