<div class="container mt-4">
  <h1 class="mb-4"> Saved Orders</h1>
  <div class="row colDiv col-sm-3 col-md-6 col-lg-12 my-3">
    <p>
      You have {{savedTotal}} saved orders
    </p>
    <table class="table">
      <thead>
        <tr>
          <th class="text-left">Products</th>
          <th class="text-center">Prices</th>
          <th class="text-center">Total</th>
          <th class="text-center">Add</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of saved_items | async;">
          <td>
            <div *ngFor="let prod of item.prods" class="text-left">
              {{prod.name}} x {{prod.quantity}}
            </div>
          </td>
          <td>
            <div *ngFor="let prod of item.prods" class="text-center">
              {{ prod.price| currency:'EUR':'symbol'}}
            </div>
          </td>
          <td class="text-center">
            <b> {{ item.totalPrice| currency:'EUR':'symbol'}} </b>
          </td>
          <td class="text-center">
            <a class="btn btn-primary" style="color: white;" (click)="addOrderToCart(item.id)">Add to cart</a>
          </td>
          <td class="text-center">
            <a class="btn btn-danger" style="color: white;" (click)="deleteOrder(item.id)">Delete order</a> </td>
        </tr>
        <td *ngFor="let i of [0,1,2,3,4]"></td>
      </tbody>
    </table>
    <a *ngIf="savedTotal!==0" class="btn btn-danger mt-4" style="color: white;" (click)="clearOrders()">Clear orders</a>
  </div>
</div>
